html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: rgb(119, 119, 119);
    padding: 0px 100px;
 }

 .books {
   display: flex;
   flex-direction: row;
   gap:10px;
   flex-wrap: wrap;
   flex:0;
 }

 .books-card {
    border: 2px solid gainsboro;
    border-radius: 4px;
    width: 250px;
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-top:12px; */
    padding:12px;
    flex-direction: column;
 }

 .books-title {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-top: 15px;
    padding: 15px 8px;
    width:75%;
    height:250px;
    font-size:1.8rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(90, 151, 82);
 }

 .info {
    width: 95%;
    margin-top:20px;
    padding-top: 8px;
    border-top:1px solid gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;   
 }

 .info-line {
    display: flex;
    align-items: flex-start;
    min-height: 2rem;
    line-height: 1.8rem;
 }

 .info-title {
    font-size: 1.15rem;
    min-width: 69px;
 }

 .info-title::first-letter {
   font-size: 1.3rem;
   letter-spacing:-.03rem ;
 }

 .info-data {
   font-size: 1.1rem;
 }

 .info-foooter {
   margin-top: 9px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .del-btn {
   width:30px;
   height: auto;
   color:#979a9c;
 }

 #addBookDialog {
   border:none;
   padding:60px 50px 80px 40px;
   border-radius: 8px;
 }

 #addBook {
   background-color: #F6F7F8;
   border: solid 1px #D6D9DC;
   border-radius: 3px;
   width:360px;
   padding:40px 50px 10px 30px;
   margin:40px auto;
   font-size: 1.2rem;
   display: none;
   /* background-color: yellow; */
 }

 .form-row {
   line-height: 2.2rem;
   margin-bottom: 40px;
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   flex-wrap: wrap;
   /* outline: darkviolet dotted .4px; */
}

label {
   width:60px;
}

input {
   height:1.5rem;
   font-size: 1.1rem;
   padding: .2rem;
   margin-left: 12px;
   flex:1;
}

button {
   padding: 6px 12px;
   font-size:1.2rem;
   display: flex;
   color: rgb(65, 63, 63);
}

.read-btn {
   padding: 4px 8px;
   font-size:1rem;
   display: flex;
   color: rgb(65, 63, 63);
}

#newBookButton {
   margin-left: auto;
}

#submit-button{
   margin-left: auto;
   margin-right: auto;
}


/* FORM EDITS HERE */

form {
   border: black dotted .8px;
   margin: 30px 0px;
   width:400px;
}

.radio-row {
   /* outline: dotted red .4px; */
   display: flex;
   justify-content: center;
   gap:70px;
   line-height: 2rem; 
}

.radio-row div {
   /* outline:green solid .8px; */
   /* display: flex; */
}

.radio-row label {
   margin-left:2px;
   /* line-height: 2rem; */
}

.radio-row input {
   position: relative;
   top:9px;
}

/* TRY INPUT FORMATTING */
.radio-row input {
appearance: none;
width:30px;
height:30px;
border:4px solid #979a9c;
padding:0;
}

.radio-row input:checked {  
	background: url(checkbox-outline.svg);
	background-repeat: no-repeat;
	background-position:center center;
	background-size:40px 40px;
}